<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BlueSpurs PhoneBook App</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link th:href="@{/css/starter-template.css}" rel="stylesheet" />


</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">BlueSpurs PhoneBook</a>
			</div>
		</div>
	</nav>



	<div class="container">

		<div class="starter-template">
			<h1>Welcome to BlueSpurs Customers' Phonebook</h1>
			<p class="lead" align="center" th:text="${message != null} ? ${message}:''" />
			<p class="lead">

		<table class="table">
			<form method="POST" action="/login">
				<tr>
					<td>User:</td>
					<td><input type="text" name="user" /></td>
				</tr>
	
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td colspan="2"><div align="right"><input type="submit" value="Login" /></div></td>
				</tr>
			</form>
		</table>

			</p>
		</div>

	</div>
	<!-- /.container -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>